#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
justify-content: center;
text-align: center;
  display: flex;
}

/* nav */
nav {
  display: flex;
justify-content: center;
  margin-bottom: 2rem;
}

nav li {
display: inline-block;
margin-right: 1rem;
list-style: none;
}

nav li a {
  text-decoration: none;
  color: #000;
}

nav li a:hover {
  color: blue;
}

/* PAGES */

/* home */

.home-text {
  display: flex;
  justify-content: center;
  width: 50%;
  text-align: center;
  margin: auto;
}

/* about */

.about-text {
  display: flex;
  justify-content: center;
  width: 50%;
  text-align: center;
  margin: auto;
}

/* contact */

.contact-text {
  display: flex;
  justify-content: center;
  width: 50%;
  text-align: center;
  margin: auto;
}
